[submodule "m4000/s0/qdm1"]
	path = m4000/s0/qdm1
	url = https://github.com/nextsigner/qdm1
[submodule "m4000/s1/qdm2"]
	path = m4000/s1/qdm2
	url = https://github.com/nextsigner/qdm2
[submodule "qdm3"]
	path = m4000/s2/qdm3
	url = https://github.com/nextsigner/qdm3
[submodule "m4000/s3/qdm4"]
	path = m4000/s3/qdm4
	url = https://github.com/nextsigner/qdm4
